<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center">
            <div class="app-title">GALLERY</div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="app-subtitle">
                You yourself are testing the taste benefits of each method and select the type of cooking yourself
            </div>
        </div>
    </div>
</div>

<div class="container-fluid wrapper3">
    <div class="row">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="../../../assets/background.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/background.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/background.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/background.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/background.jpg">
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/background.jpg">
            </ng-template>

        </owl-carousel-o>

    </div>
</div>