<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    
</owl-carousel-o>