<div class="container">
    <div class="row">
        <div class="title d-flex justify-content-center">
            <h1 class="intro-rust">GALLERY</h1>
        </div>
        <div class="title d-flex justify-content-center">
            You yourself are testing the taste benefits of each method
            and select the type of cooking yourself
        </div>
    </div>
</div>

<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>
    <ng-template carouselSlide>
        <img src="../../../assets/background.jpg">
    </ng-template>

</owl-carousel-o>