<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="Logo" style="height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">PROGRAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALLERY</a>
        </li>
        <li role="separator" class="divider">·</li>
        <li class="nav-item">
          <a class="nav-link" href="#">REVIEWS </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PARTNERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-block ms-auto">
      <span class="navbar-text">
        +38 (099) 66-11-730
      </span>
    </div>
  </div>
</nav>