/* styles.scss */
.navbar-nav .nav-item {
  position: relative;
  display: inline-block;
}

.nav-link {
  color: white;
  margin-left: 20px;
  /* Añade espacio antes de los puntos */
}

.navbar-text {
  color: white;
  font-size: 1rem;
  margin-left: 20px;
}