<div class="container">
    <div class="d-flex">
        <div class="intro padded-top-1 padded-bottom-1">THE COURSE ALSO INCLUDES:</div>
    </div>
    <div class="col-7">
        <table class="table table-bordered">
            <tbody>
                <tr *ngFor="let item of items" class="row">
                    <td class="col-1 icon">
                        <fa-icon class="m-1 p-1" [icon]="item.icon"
                            [ngClass]="{'check-icon': item.icon === faCheck, 'times-icon': item.icon === faTimes}"></fa-icon>
                    </td>
                    <td class="col-11 lefty">
                        {{ item.text }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>