<main class="main">

  <section class="fullScreen">
    <app-header></app-header>
    <app-banner></app-banner>

    <div class="banner-with-divider">
      <div class="d-flex align-items-end justify-content-end">
        <div class="image col-2">
          <img src="../../../assets/granola.png" class="img-fluid" alt="granola">
        </div>
      </div>
    </div>

  </section>

  <section class="wrapper background-program">
    <app-program></app-program>
  </section>

  <section class="gallery">
    <div class="gallery-with-divider">
      <div class="d-flex align-items-start justify-content-start">
        <div class="image col-2">
          <img src="../../../assets/granola2.png" class="img-fluid" alt="granola">
        </div>
      </div>
    </div>
    <app-gallery class="wrapper3 "></app-gallery>
  </section>

  <section class="wrapper">
    <app-testimonials></app-testimonials>
  </section>

  <section class="wrapper ourpartners">
    <app-ourpartners></app-ourpartners>
  </section>

  <section class="wrapper questions">
    <app-questions></app-questions>
  </section>

  <section class="info">
    <div class="info-with-divider">
      <img src="../assets/mask-info-up.png" class="img-fluid" alt="granola">
    </div>
    <app-info></app-info>
  </section>

</main>

<router-outlet />