.header {
  overflow: hidden;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

.banner {
  overflow: hidden;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.cofeeProgram {
  overflow: hidden;
  background-image: url('../assets/wood-coffee-beans-coffee.png');
  background-size:auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to bottom, #f1f1f1, #f7f7f7);
}

.gallery {
  background-color: #222121;
  // background-image: url('../assets/background-gallery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  opacity: 0.7;
}


.questions {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to bottom, #f1f1f1, #f6f7f7);
}




.ourpartners {
  background-color: #e4e4e4;
}



.image-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 10vh; 
}

.image-container {
  max-width: 100%;
  height: auto; 
}

.flex-image {
  max-width: 100%; 
  height: auto; 
}




.gallery-with-divider {
  overflow: hidden;
  background-image: url('../assets/mask_gallery-up.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}


.footer-with-divider {
  overflow: hidden;
  background-image: url('../assets/mask-info-up.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}


.footer {
  background-image: url('../assets/background-footer.jpg');
  background-color: brown;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

