<main class="main">

  <section class="fullScreen">
    <app-header></app-header>
    <app-banner></app-banner>
  </section>

  <section class="section">
    <app-program></app-program>
  </section>

  <app-gallery></app-gallery>

  <section class="section">
    <app-testimonials></app-testimonials>
  </section>

  <section class="section">
    <app-ourpartners></app-ourpartners>
  </section>

  <section class="section">
    <app-questions></app-questions>
  </section>

  <section class="section">
    <app-info></app-info>
  </section>

</main>

<router-outlet />