/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Carousel defauls styles. */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Importing Fonts. */
@font-face {
    font-family: 'IntroRustG-Base2Line';
    src: url('/assets/fonts/IntroRustG-Base2Line.otf') format('opentype');
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('/assets/fonts/MinionPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Intro';
    src: url('/assets/fonts/Intro.otf') format('opentype');
}

/* Fonts Settings */
body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'MinionPro-Regular', sans-serif; 
}

.intro {
    font-family: 'Intro', sans-serif;
}

.intro-rust {
    font-family: 'IntroRustG-Base2Line', sans-serif;
}

.minion-pro {
    font-family: 'MinionPro-Regular', serif;
}

.padded-top-5 {
    padding-top: 5rem;
}

.padded-bottom-1 {
    padding-bottom: 1rem;
}

.padded-top-1 {
    padding-top: 1rem;
}

.padded-2 {
    padding: 2.5rem;
}