.banner {
  text-align: center;
  padding: 100px ;
}

.banner h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
}

.banner h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}

.navbar-text {
  font-size: 1rem;
  margin-left: 20px;
}

.downButton {
  font-size: 3rem;
}

.star-divider {
  font-size: 1rem;
  padding:20px;
  color: #cdb47b
}

.triangle-divider {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 100px solid #cdb47b;
  margin-top: 10px; /* Ajusta para centrar verticalmente si es necesario */
}

.triangle-divider-inverted {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 100px solid #cdb47b;
  margin-top: 10px; /* Ajusta para centrar verticalmente si es necesario */
}