<div class="banner background-section">

  <div class="star-divider">
    <fa-icon class="m-1 p-1" [icon]="faStar"></fa-icon>
    <fa-icon class="m-1 p-1" [icon]="faStar"></fa-icon>
    <fa-icon class="m-1 p-1" [icon]="faStar"></fa-icon>
  </div>

  <div class="title d-flex justify-content-around">
    <div class="triangle-divider"></div>
    <h3 class="minion-pro">Intensive program barista training</h3>
    <div class="triangle-divider-inverted"></div>
  </div>

  <div class="title m-1 p-1">
    <h1 class="intro-rust">Barista Training in Amsterdam</h1>
  </div>
  
  <div class="title m-1 p-1">
    <h3 class="minion-pro">On the basis of the company largest coffee roasters</h3>
  </div>
  <div class="divider">
    <img src="../../../assets/bannerDownSeparator.png" alt="divider" style="height: 5px;">
  </div>

  <div class="downButton p-2 m-2">
    <fa-icon [icon]="faChevronCircleDown"></fa-icon>
  </div>

  <div class="bottom-image d-flex justify-content-end">
    <img src="../../../assets/granola.png" alt="granola" style="height: 200px;">
  </div>

</div>