<div class="d-flex justify-content-center align-items-center mt-1 pt-1">
    <div class="app-title-black">TESTIMONIALS</div>
</div>

<div class="d-flex justify-content-center align-items-center pb-5">
    <div class="app-subtitle text-black">
        We have enough patience to teach you the art of coffee
    </div>
</div>


<p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="true"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
        <div class="border-1 d-flex flex-column align-items-center align-items-center surface-border border-round m-2 p-3">
            <div class="mb-3">
                <div class="relative mx-auto">
                    <img [src]="product.url" [alt]="product.name" class="w-full border-round" />
                </div>
            </div>
            <div class="mb-3 font-medium intro">
                {{ product.name }}
            </div>
            <div class="mb-5 mr-5 ml-5 p-5 minion-pro">
                {{ product.info }}
            </div>
        </div>
    </ng-template>
</p-carousel>